# The "example" env file has default values for development environment.

# Django settings
SECRET_KEY==$johp7ota=qxcs!olr77y*ez4k!h#^#7(t!d5gqx@3c*lb9o&
DEBUG=True
ALLOWED_HOSTS=
DATABASE_HOST=db
TIME_ZONE=America/Sao_Paulo
